# Data types and structure Questions:

1. What are data structures, and why are they important?
ANS: It is a way of organizing, storing and managing data so it can be used efficiently. python provides a variety of built-in-data structures, each suited for specific task and operation. it also mange the information based on their characteristic and intended use.
Importance of data structure:
- Improve efficiency.
- Solve complex problem effectively.
- Improve code readability and maintainability.
- In data structure it simplify data manipulation( adding, removing, modifying elements)
- It optimize searching and sorting operations.
- We can used various data structures like string, tuple, list, dictionary, array

2.Explain the difference between mutable and immutable data types with examples?
ANS: In python, mutable and immutable data types differ whether the value can be changed after they are created.

Mutable Data Types: It can be changed after they are created. We can modify the data by adding, removing and updating the elements. It used when data need to be frequently updated.
e.g.- List, Dictionary, Set.

Immutable Data Type: It cannot be changed after they are created. In that new objects are created for changes. It used when hashing is needed.
e.g.- Tuple, String, Frozenset.

3. What are the main differences between lists and tuples in Python?
ANS: List:
- A built-in data type that stores set of values. It can be store elements of different types(integer, float, string, etc.).
- Its mutable- we can add, remove, modify elements.
- Syntax = [ ]
- Its unhashable
- In list, we need a dynamic, modifiable collection of data.

Tuple:
- A built-in data type that let us create immutable sequence of values.
- Its immutable- once created you can not change the content.
- Syntax= ()
- Its hashable (if elements are immutable)
- In Tuple, we need a fixed collection of items.

4. Describe how dictionaries store data?
ANS: In dictionary, which stores data in the form key-value pairs.
Its a unordered collections- elements are not stored in specific order.
Its keys are unique.
Keys and values can be of various data types(string, number, list)

5. Why might you use a set instead of a list in Python?
ANS: Set: It is the collection of unordered items. Each element in the set must be unique & immutable. In set, Duplicate entries are not allowed. Set are useful for checking membership or finding the interaction / difference between set.

List: It is the collection of ordered items & mutable elements. List can hold items of various data types(string, numbers. etc.). List also allowed duplicates. We need to access elements by their position.

6. What is a string in Python, and how is it different from a list?
ANS: String:
- Its a data type that stores a sequence of character.
- Its immutable data types- Once created the content of string cannot be changed.
- It represent textual data
- It define using( " ", ' ', "' '")
- It support many operations like Concatenation, slicing, case manipulation.

List:
- Its a collection of items, which can be of any data type.
- Its mutable- we can add, remove, modify elements.
- It contain any type of data (integers, float, strings, etc.)
- Syntax = [ ]

7. How do tuples ensure data integrity in Python?
ANS: Tuples ensure data integrity through their immutable sequence of values.
Its immutable- once created you can not change the content.
Syntax= ()
Its hashable (support use in dictionaries and set).
In Tuple, we need a fixed collection of items.

8. What is a hash table, and how does it relate to dictionaries in Python?
ANS: A hash table is a data structure that stores data value in the form of key:value pairs by using hashing. Dictionaries rely on hash tables to provide the fast and efficient storage. The values are stored in the array at the index determined by the hash of the key.

9.Can lists contain different data types in Python?
ANS: Yes, list contain different data types in python like integer, float, string, etc. List allow to store heterogenous data.

10. Explain why strings are immutable in Python?
ANS: String in python are immutable, because once a string created it can not be changed. Any operation that appears to modify a string actually creates a new string. Characters arranged in an unchangeable order. It a sequence of character also its represents and manipulate textual data.

11. What advantages do dictionaries offer over lists for certain tasks?
ANS: Dictionaries:
- In dictionary, which stores data in the form key-value pairs.
- Its a unordered collections- elements are not stored in specific order.
- Its keys are unique, which ensure data integrity and prevents duplicate entries.
- Keys and values can be of various data types(string, number, list)
- We can update or delete specific elements efficiently by key.

List:
- Its a collection of items, which can be of any data type.
- Its mutable- we can add, remove, modify elements.
- It also allow duplicate elements.
- Its rely on positional indexing.
- It suited for ordered collection or homogenous datasets.

12. Describe a scenario where using a tuple would be preferable over a list?
ANS: Tuple is preferable over a list where immutability , data integrity are important. Tuples are useful for representing fixed data sets or configurations. Since tuples are immutable , they can be used as keys in dictionaries, unlike list. List can not be used as dictionary key or set elements because they are mutable.

13. How do sets handle duplicate values in Python?
ANS: A set is the collection of the unordered items. Each element in the set must be unquie and immutable. Sets are designed to handle duplicate values. If we want to try to add duplicate values to a set, only one instant of each value will be retained.

14.  How does the “in” keyword work differently for lists and dictionaries?
ANS: - The in keyword is used to check for membership.
- In List, in keyword checks if a given value is present as an element in the list.
- In dictionary, in keyword checks only the keys by default, not the values.

15.  Can you modify the elements of a tuple? Explain why or why not?
ANS: We can not modify the elements of a tuple because tuples are immutable. Once a tuple is created, its elements can not be changed. They also provides a secure way to store data that shouldn't be modified. Tuples are useful for representing fixed datasets or configurations.

16.  What is a nested dictionary, and give an example of its use case?
ANS: It is a dictionary within another dictionary. Where the values associated with one or more keys are themselves dictionaries.

e.g. - inventory= {"Electronics": {"Laptops":90, "phones": 100},
                   "Furniture": { "Chairs": 150, "Tables": 200}
                   }
      print(inventory["Electronics"] ["phones"])

17. Describe the time complexity of accessing elements in a dictionary?
ANS: Dictionary are implemented using hash tables, which makes them very efficient for key: values. The time complexity of accessing elements in a dictionary its depend on the operations:
- Add: Adding or updating a key-value pair
- Access: Retrive values using their keys
- Remove: removing a key value pair by key
- Check membership: Use the in opertaor

18. In what situations are lists preferred over dictionaries?
ANS:
- List are ordered, mutable collection of elements, whereas dictionaries are unordered collection of elements.
- List allow duplicate elements whereas dictionaries do not allow duplicate keys.
- List are more efficient than dictionaries when storing sequence because they don't store hash keys.
- In List, we can add, remove or modify elements within a list using indexing and slicing, whereas dictionary accessed by key.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
ANS:
- Dictionary are used to store data value in key:value pairs.
- They are unordered and mutable collection of elements.
- Dictionary are unordered because their internal implementation based on the hash table.
- In dictionary, elements are accessed using their keys, not their position.

20.  Explain the difference between a list and a dictionary in terms of data retrieval?
ANS: LIST:
- It access elements by their positional index.
- List are ordered and mutable collection of elements.
- It allows duplicate elements.
- Its suitable for heterogenous data collection.

Dictionary:
- It access elements by key.
- Dictionary are unordered collection of elements which are not stored in specific order.
-Key must be unique but values can be duplicate.
- It is good for key: value pairs

# Practical Questions:

1. Write a code to create a string with your name and print it.

In [2]:
my_name= "Ruchita"
print(my_name)

Ruchita

2. Write a code to find the length of the string "Hello World".

In [5]:
my_string= "Hello World"
length= len(my_string)
print("The length of string is:", length)

The length of string is: 11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [6]:
my_string= "Python Programming"
my_string[:3]

'Pyt'

In [7]:
my_string= "Python Programming"
sliced = my_string[:3]
print(sliced)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [9]:
my_string= "hello"
my_string.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [10]:
my_string= "I like apple"
my_string.replace("apple", "orange")

'I like orange'

In [12]:
my_string= "I like apple"
modified_string= my_string.replace("apple", "orange")
print(modified_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [13]:
my_list= [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [14]:
my_list= [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [15]:
my_list= [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [17]:
my_list= ['a', 'b', 'c', 'd']
my_list[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [20]:
my_list= [10,20,30,40,50]
my_list.reverse()
my_list

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [21]:
my_tuple= (10,20,30)
my_tuple

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [22]:
my_tuple= ('apple', 'banana', 'cherry')
my_tuple[0]

'apple'

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [24]:
my_tuple = (1,2,3,2,4,2)
count_2=my_tuple.count(2)
print(count_2)

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [25]:
my_tuple = ('dog', 'cat', 'rabbit')
index_cat= my_tuple.index('cat')
index_cat

1

15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [26]:
my_tuple= ('apple','orange','banana')
is_banana_in_tuple = 'banana' in my_tuple
print(is_banana_in_tuple)

True

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [27]:
my_set= {1,2,3,4,5}
my_set

{1, 2, 3, 4, 5}

17.  Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [28]:
my_set= {1,2,3,4}
my_set.add(6)
my_set

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [30]:
my_tuple= (10,20,30)
my_tuple

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [31]:
my_tuple= ('apple', 'banana', 'cherry')
my_tuple[0]

'apple'

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [32]:
my_tuple = (1,2,3,2,4,2)
count_2=my_tuple.count(2)
print(count_2)

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [33]:
my_tuple = ('dog', 'cat', 'rabbit')
index_cat= my_tuple.index('cat')
index_cat

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [34]:
my_tuple= ('apple','orange','banana')
is_banana_in_tuple = 'banana' in my_tuple
print(is_banana_in_tuple)

True

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [35]:
my_set= {1,2,3,4,5}
my_set

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [36]:
my_set= {1,2,3,4}
my_set.add(6)
my_set

{1, 2, 3, 4, 6}